@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/segoeui.ttf") format("opentype");
}

@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/segoeuib.ttf") format("opentype");
    font-weight: 700; /* bold */
}

@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/segoeuil.ttf") format("opentype");
    font-weight: 100; /* lighter */
}

/*
 * Main colors:
 * #d55555 --> Red
 * #505050 --> Black/Dark Grey
 * #e6e6e6 --> Light Grey
 * #ffffff --> White
 */

body{
    font-family: "Segoe UI", serif;
    color: #505050;
    overflow-x: hidden;
}

#wrapper{
    position: absolute;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #505050;
}

p{
    margin: 0;
}

button{
    cursor: pointer;
}

button:focus, input:focus, select:focus{
    outline:0;
}

.text_red{
    color: #d55555 !important;
}

.text_white{
    color: #fff !important;
}

.text_shadow{
    text-shadow: 0 0 15px black !important;
}

.title{
    font-weight: lighter !important;
    font-variant: small-caps !important;
    font-size: 40px !important;
    margin-bottom: 10px !important;
}

.title:first-letter{
    color: #d55555 !important;
    box-shadow: inset 0 -5px 0 white, inset 0 -7px 0 #d55555 !important;
    -webkit-box-shadow: inset 0 -5px 0 white, inset 0 -7px 0 #d55555 !important;
    -moz-box-shadow: inset 0 -5px 0 white, inset 0 -7px 0 #d55555 !important;
}

.content{
    position: relative;
    width: 972px;
    left: 50%;
    margin-left: -486px;
}

/*
 * Header general
 */

header{
    position: relative;
    width: 100%;
    height: 250px;
    /*overflow: hidden;*/
}

header .logo_insa{
    position: absolute;
    margin: 15px;
    width: 170px;
}

/*
 * Footer general
 */

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #212121;
    border-top: 2px solid #d55555;
    text-align: center;
}

footer p{
    padding: 5px 0;
    font-size: 15px;
    font-weight: lighter;
    text-transform: uppercase;
}

footer span, footer a{
    font-weight: 600;
}

/*
 * Hamburger Menu
 */

nav{
    position: absolute;
    right: 0;
    padding: 15px 20px;
}

.menuToggle {
    position: relative;
    left: 100%;
    margin-left: -35px;
    display: inline-block;
    cursor: pointer;
}

.line1, .line2, .line3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

nav.active .line1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    -moz-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px);
}

nav.active .line2 {opacity: 0;}

nav.active .line3 {
    -webkit-transform: rotate(45deg) translate(-7px, -7px);
    -moz-transform: rotate(45deg) translate(-7px, -7px);
    transform: rotate(45deg) translate(-7px, -7px);
}

.menuItems{
    opacity: 0;
    list-style: none;
    text-align: right;
    margin: -5px 0 0 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

nav.active .menuItems{
    opacity: 1;
}

.menuItems li{
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 20px;
    text-shadow: 0 0 15px black;
}

/* Phone */
@media only screen and (max-width: 768px) {
    .content{
        width: 320px;
    }

    /*
     * Header general
     */
    header{
        height: 150px;
    }

    header .logo_insa{
        width: 140px;
    }

    /*
     * Nav
     */
    nav{
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        background-color: transparent;
        z-index: 0;
        height: 100vh;
        width: 100%;
    }

    nav.active{
        background-color: #505050;
        z-index: 1000;
        height: 100vh;
        width: 100%;
    }

    /*
     * Footer general
     */
    footer p{
        font-size: 10px;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .content{
        width: 768px;
    }
}
