.titreFAQ{
    margin: 20px 50px 5px 50px;
    text-align: left;
}

.titreFAQ::first-letter {
    color: #d55555;
}

.titreFAQ_1::first-letter {
    color: #d55555;
}

.contentFAQ{
    margin: 0 50px 20px 51px;
    padding-left: 5px;
    text-align: justify;
    border-left: 2px solid lightgrey;
    border-spacing:5px;
}

.paragraph_line{
    margin-left: 200px;
}

.content{
    margin-bottom: 40px;
}

header{
    height: 350px !important;
}

header .bg_FAQ{
    position: absolute;
    left: 50%;
    margin-left: -1000px;
    min-width: 100%;
}

header .man_bg{
    position: absolute;
    height: 310px;
    top: 40px;
    left: 37%;
}
header .bg_wall_FAQ{
    position: absolute;
    height: 350px;
    top:0;
    left:0;
    z-index: 0;
}