/*
 * Header
 */
header{
    height: 390px !important;
}

header .bg{
    position: absolute;
    left: 50%;
    margin-left: -1000px;
    min-width: 100%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

header .student_bg{
    position: absolute;
    height: 350px;
    top: 40px;
    left: 20%;
}

header .text_bg{
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 45px;
    line-height: 45px;
    top: 140px;
    margin-top: -60px;
    font-weight: lighter;
    text-transform: uppercase;
}

header .text_bg span{
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
}

/*
 * Chiffres
 */
.chiffres{
    display: flex;
    text-align: center;
    margin-top: 10px;
}

.chiffres div{
    width: 33%;
    font-size: 30px;
}

.chiffres div img{
    font-weight: lighter;
    width: 20%;
}

.chiffres p span{
    font-weight: bold;
    font-size: 40px;
}

/*
 * Avantages
 */
.avantages{
    display: flex;
    margin-top: 50px;
}

.avantages .left{
    width: 50%;
    text-align: right;
}

.avantages .right{
    width: 50%;
    text-align: left;
}

.avantages p{
    width: 70%;
}

.avantages .left p{
    float: right;
}

.avantages_txt_num{
    font-weight: bold;
    font-size: 80px;
}

.avantages_txt_title{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 10px;
}

.avantages_txt_content{
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 20px;
}

.avantages img{
    width: 60%;
    margin: 0 40px;
}

/*
 * Slider
 */
.partner_schools_title{
    margin-left: -436px !important;
    margin-top: 30px;
}

.slider{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #e6e6e6;
    overflow: hidden;
}

.navigation{
    position: absolute;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
}

.navigation.previous{
    left: 10px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.navigation.next{
    right: 10px;
}

.pagination{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.page_count{
    width: 20px;
    height: 20px;
    border: #fff solid 2px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 5px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.page_count.active, .page_count:hover{
    background-color: #fff;
}

.see_more{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.see_more img{
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}

.see_more p{
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
    font-weight: lighter;
}

.slider .slides, .slider .slides .slide{
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider .slides .slide{
    opacity: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.slider .slides .slide.active{
    opacity: 1;
}

.slider .slides .slide img{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.slider .slides .slide .slide_txt{
    position: absolute;
    width: 872px;
    left: 50%;
    top: 50%;
    margin-left: -436px;
    margin-top: -30px;
}

.slider .slides .slide .name{
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
}

.slider .slides .slide .line{
    width: 40px;
    height: 3px;
    background-color: #d55555;
    display: inline-block;
    vertical-align: top;
    margin: 14px 0;
}

.slider .slides .slide .location{
    font-size: 30px;
    line-height: 30px;
    font-weight: lighter;
    display: inline-block;
    margin-left: 5px;
}

/*
 * Procédure
 */
.procedure{
    text-align: center;
    margin-top: 20px;
}

.road{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.step{
    width: 24%;
    margin: 0 auto 20px auto;
}

.step div{
    position: relative;
    width: 150px;
    height: 150px;
    border: 10px solid #e6e6e6;
    border-radius: 100%;
    margin: 0 auto;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.step div:hover{
    background-color: #e6e6e6;
}

.step div img{
    width: 80px;
    top: 50%;
    margin-top: -40px;
    position: absolute;
    left: 50%;
    margin-left: -40px;
}

.step .num{
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 5px;
}

.step .content{
    font-weight: lighter;
    font-size: 20px;
    margin-top: 5px;
}

.road_arc, .road_line, .road_vide{
    width: 7%;
}

.procedure_btn{
    padding: 10px 20px;
    border: 2px solid #d55555;
    font-weight: lighter;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: #fff;
}

/*
 * Témoignages
 */
.temoignages{
    text-align: center;
    margin-top: -75px;
}

.temoignages .title{
    color: #fff !important;
    margin-bottom: 50px !important;
}

.temoignages .title:first-letter{
    box-shadow: inset 0 -2px 0 #d55555 !important;
    -webkit-box-shadow: inset 0 -2px 0 #d55555 !important;
    -moz-box-shadow: inset 0 -2px 0 #d55555 !important;
}

.temoignages_bg{
    position: relative;
    left: 50%;
    margin-left: -1000px;
}

.temoignages_icon{
    position: relative;
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

.temoignages_content{
    display: inline-block;
    width: 50%;
    margin-left: 30px;
    text-align: left;
}

.temoignages_content_txt{
    display: none;
}
.temoignages_content_txt.active{
    display: block;
}

.temoignages_profile{
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    width: 50px;
    text-align: center;
    margin-right: 10px;
}

.temoignages_profile p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    opacity: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.temoignages_profile.active p{
    opacity: 1;
}

.temoignages_profile .name{
    font-weight: bold;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.temoignages_profile .location{
    font-weight: lighter;
    font-size: 10px;
}

.temoignages_profile img{
    width: 50px;
    padding: 2px;
    border: 2px solid #fff;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.temoignages_profile.active img{
    border-radius: 100%;
    border: 2px solid #d55555;
}

.temoignages_profile.active img, .temoignages_profile:hover img{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

/*
 * Séparateur
 */
.separator{
    width: 100%;
    text-align: center;
    margin: 30px 0 40px 0;
}

.separator_line{
    display: inline-block;
    height: 10px;
    width: 120px;
    border-radius: 5px;
    background-color: #e6e6e6;
}

.separator_point{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: #e6e6e6;
    margin: 0 10px;
}

/*
 * Links
 */
.links{
    text-align: center;
    z-index: 1;
}

.links .square{
    position: relative;
    width: 250px;
    height: 250px;
    display: inline-block;
    cursor: pointer;
}

.links .square{
    margin: 0 15px;
}

.links .square .square_bg{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.links .square div{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.links .square div p{
    display: inline-block;
    font-size: 30px;
    font-weight: lighter;
    text-align: right;
    width: 200px;
    vertical-align: super;
}

.links .square div img{
    display: inline-block;
    height: 30px;
}

/*
 * Contact
 */
.contact{
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #212121;
    padding-top: 75px;
    margin-top: -75px;
}

.contact .title{
    margin-top: 20px;
    color: #fff;
}

.contact .title:first-letter{
    box-shadow: inset 0 -5px 0 #212121, inset 0 -7px 0 #d55555 !important;
    -webkit-box-shadow: inset 0 -5px 0 #212121, inset 0 -7px 0 #d55555 !important;
    -moz-box-shadow: inset 0 -5px 0 #212121, inset 0 -7px 0 #d55555 !important;
}

.contact .coords{
    padding: 15px 0 70px 0;
}

.contact .coord{
    display: inline-block;
    vertical-align: top;
    width: 40%;
}

.contact .left{
    text-align: right;
}

.contact .right{
    text-align: left;
}

.contact .mail_icon{
    width: 60px;
    margin: -30px 20px 0 20px;
    position: relative;
    top: 57px;
}

.contact .name{
    font-size: 40px;
    line-height: 40px;
    font-weight: lighter;
    font-variant: small-caps;
}

.contact .name span{
    font-weight: 500;
}

.contact .fonction{
    font-size: 25px;
    line-height: 25px;
    font-weight: lighter;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

.contact .line{
    height: 2px;
    width: 30px;
    background-color: #d55555;
    display: inline-block;
}

.contact .mail{
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    font-variant: small-caps;
}

/* Phone */
@media only screen and (max-width: 767px) {
    /*
     * Header
     */
    header{
        height: 200px !important;
    }

    header .bg{
        height: 200px;
        margin-left: -666px;
    }

    header .text_bg{
        font-size: 25px;
        line-height: 25px;
        top: 100px;
        margin-top: -35px;
    }

    header .text_bg span{
        font-size: 35px;
        line-height: 35px;
    }

    /*
     * Chiffres
     */
    .chiffres div{
        font-size: 15px;
    }

    .chiffres div img{
        width: 25%;
    }

    .chiffres p span{
        font-size: 20px;
    }

    /*
     * Avantages
     */
    .avantages{
        margin-top: 15px;
        display: block;
    }

    .avantages .right{
        width: 100%;
    }

    .avantages p{
        width: 100%;
    }

    .avantages_txt_num{
        font-size: 40px;
    }

    .avantages_txt_title{
        font-size: 15px;
        margin-bottom: 5px;
    }

    .avantages_txt_content{
        font-size: 10px;
        margin-bottom: 10px;
    }

    .avantages img{
        display: none;
    }

    /*
     * Slider
     */
    .partner_schools_title{
        margin-left: -160px !important;
        margin-top: 15px;
    }

    .slider{
        height: 200px;
    }

    .navigation{
        height: 15px;
        margin-top: -15px;
    }

    .page_count{
        width: 10px;
        height: 10px;
        border: #fff solid 1px;
    }

    .see_more img{
        height: 15px;
        margin-bottom: 2.5px;
    }

    .see_more p{
        font-size: 10px;
        line-height: 15px;
    }

    .slider .slides .slide .slide_txt{
        width: 250px;
        margin-left: -125px;
        margin-top: -22.5px;
    }

    .slider .slides .slide .name{
        font-size: 30px;
        line-height: 30px;
    }

    .slider .slides .slide .line{
        width: 20px;
        height: 2px;
        margin: 7px 0;
    }

    .slider .slides .slide .location{
        font-size: 15px;
        line-height: 15px;
    }

    /*
     * Procédure
     */
    .procedure{
        margin-top: 15px;
    }

    .step{
        width: 50%;
        margin: 0 auto 10px auto;
    }

    .step div{
        width: 75px;
        height: 75px;
        border: 5px solid #e6e6e6;
    }

    .step div img{
        width: 40px;
        margin-top: -20px;
        margin-left: -20px;
    }

    .step .num{
        font-size: 15px;
        margin-bottom: 2.5px;
    }

    .step .content{
        font-size: 10px;
        margin-top: 2.5px;
    }

    .road_arc, .road_line, .road_vide{
        width: 0;
    }

    .procedure_btn{
        padding: 5px 10px;
        border: 1px solid #d55555;
        font-size: 10px;
        border-radius: 10px;
        margin-bottom: 15px;
    }

    /*
     * Témoignages
     */
    .temoignages_icon{
        width: 50px;
    }

    .temoignages_content{
        margin-left: 15px;
    }

    .temoignages_content_txt{
        font-size: 10px;
    }

    .temoignages_profile{
        margin-top: 10px;
        width: 25px;
        margin-right: 5px;
    }

    .temoignages_profile p{
        margin-left: 4px;
    }

    .temoignages_profile .name{
        font-size: 8px;
        margin-top: 1px;
        margin-bottom: 1px;
    }

    .temoignages_profile .location{
        font-size: 5px;
    }

    .temoignages_profile img{
        width: 25px;
        padding: 1px;
        border: 1px solid #fff;
    }

    .temoignages_profile.active img{
        border: 1px solid #d55555;
    }

    /*
     * Séparateur
     */
    .separator{
        margin: 0 0 15px 0;
    }

    .separator_line{
        height: 5px;
        width: 60px;
        border-radius: 3px;
    }

    .separator_point{
        height: 5px;
        width: 5px;
        margin: 0 5px;
    }

    /*
     * Links
     */
    .links .square{
        width: 125px;
        height: 125px;
        margin: 0 5px;
    }

    .links .square div{
        bottom: 5px;
        right: 5px;
    }

    .links .square div p{
        font-size: 15px;
        width: 100px;
    }

    .links .square div img{
        height: 15px;
        margin-bottom: 3px;
    }

    /*
     * Contact
     */
    .contact{
        padding-top: 75px;
        margin-top: -75px;
    }

    .contact .title{
        margin-top: 10px;
    }

    .contact .title:first-letter{
        box-shadow: inset 0 -3px 0 #212121, inset 0 -5px 0 #d55555 !important;
        -webkit-box-shadow: inset 0 -3px 0 #212121, inset 0 -5px 0 #d55555 !important;
        -moz-box-shadow: inset 0 -3px 0 #212121, inset 0 -5px 0 #d55555 !important;
    }

    .contact .coords{
        padding: 7.5px 0 40px 0;
    }

    .contact .mail_icon{
        width: 30px;
        margin: -15px 10px 0 10px;
        top: 28px;
    }

    .contact .name{
        font-size: 15px;
        line-height: 15px;
    }

    .contact .fonction{
        font-size: 10px;
        line-height: 10px;
        margin: 0;
    }

    .contact .line{
        height: 1px;
        width: 15px;
    }

    .contact .mail{
        font-size: 8px;
        line-height: 20px;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /*
     * Avantages
     */
    .avantages p{
        margin-left: 10px;
        margin-right: 10px;
    }

    /*
     * Slider
     */
    .partner_schools_title{
        margin-left: -384px !important;
    }

    .slider .slides .slide .slide_txt{
        width: 678px;
        margin-left: -339px;
    }
}