/*
 * Header
 */
header {
    height: 260px !important;
}

header .bg_img{
    position: absolute;
<<<<<<< HEAD
    left: 50%;
    margin-left: -640px;
    min-width: 100%;
    top: 70%;
    margin-top: -770px;
    /*filter: blur(0.5px);
    -webkit-filter: blur(0.5px);*/
}
header .text_bg{
=======
    top: 0;
    left: 0;
    height: 260px;
    width: 100%;
    overflow: hidden;
}

header .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

header .text_bg {
>>>>>>> preprod
    position: absolute;
    text-align: left;
    width: 100%;
    /*font-size: 40px;
    line-height: 40px;*/
    top: 200px;
    margin-top: -60px;
    margin-left: 10px;
}

header .text_bg_uni {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
}

header .txt_bg_city {
    font-weight: 300;
    font-size: 25px;
    margin-left: 40px;
}

header .btn {
    border: 1px solid #d55555;
    color: #d55555;
    padding: 5px 15px;
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 30px;
    margin-right: 30px;
    background-color: transparent;
    float: right;
}

header .btn span {
    color: #d55555;
    font-size: 14px;
    text-align: center;
}

/* Content */

.left {
    width: 55%;
    float: left;
    margin-top: 10px;
}

.right {
    width: 45%;
    float: right;
    padding-top: 10px;
    margin-top: 30px;
}

.right p {
    text-align: left;
}

.school_infos, .courses{
    position: relative;
    margin-bottom: 20px;
}


.school_infos_content {
    margin-top: 10px;
    font-size: 22px;
    font-weight: lighter;
}

.courses{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.courses .course{
    flex-basis: 45%;
    border-left: 2px solid #e6e6e6;
    margin-top: 10px;
    padding-left: 8px;
}

.courses .course .name {
    font-size: 22px;
}

.courses .course .year{
    margin: 5px 0;
}

.courses .course .year, .courses .course .languages {
    font-size: 16px;
    font-weight: lighter;
}

.courses .course .languages img{
    width: 20px;
    vertical-align: bottom;
}

.courses .title, .costs .title{
    flex-basis: 100%;
}

.costs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.cost{
    flex-basis: 45%;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: auto;
    padding-bottom: 20px;
}

.cost .detail{
    padding-top:10px;
    padding-right: 30px;
}

.costDetail {
    display: inline-block;
}

.border_icon {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 10px solid #e6e6e6;
    position: relative;
    padding-top: 5px;
    flex:none;
}

.border_icon img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    width: 60px;
    margin-left: -30px;
    margin-left: -30px;
}

.cost_content{
    font-size: 18px;
    font-weight: bold;
    margin:auto 15px;
}

.cost_content span{
    font-weight: normal;
}


.right img{
    padding-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.videos{
    display: flex;
    flex-basis: 33%;
}

.videos img{
    width: 30%;
    height: 30%;
    padding-right: 5px;
}
.chiffres{
    padding-top: 5px;
}

.chiffres .info {
    text-align: right;
    border-right: 2px solid #d55555;
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: lighter;
    padding-right: 8px;
}

.chiffres .info span{
    font-weight: normal;
    font-size: 40px;
    color:#d55555;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.gallery .column{
    float: left;
    width: 30%;
    padding: 1.5%;
}

.gallery .column img {
    opacity: 0.8;
    cursor: pointer;
}

.gallery .column img:hover {
    opacity: 1;
}

.container {
  position: relative;
  display : none;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

.container:after{
  content: "";
  display: table;
  clear: both;
}

.gallery:after {
    content: "";
    display: table;
    clear: both;
}
