/*
 * Header
 */

header .bg{
    position: absolute;
    left: 50%;
    margin-left: -1000px;
    min-width: 100%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

header .text_bg{
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    top: 115px;
    margin-top: -60px;
    text-transform: uppercase;
}

header .text_bg span{
    color: #d55555;
}

/*
 * Progress
 */
.progress{
    position: relative;
    height: 500px;
    width: 500px;
    left: 50%;
    margin: 40px 0 70px -250px;
}

.progress svg{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.progress__value {
    stroke-dasharray: 1539px;
    stroke-dashoffset: 1539px;
    animation: progress 5s infinite alternate;
    stroke-linecap: round;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.progress.step_1 .progress__value{
    stroke-dashoffset: 1319px;
}

.progress.step_2 .progress__value{
    stroke-dashoffset: 1099px;
}

.progress.step_3 .progress__value{
    stroke-dashoffset: 879px;
}

.progress.step_4 .progress__value{
    stroke-dashoffset: 660px;
}

.progress.step_5 .progress__value{
    stroke-dashoffset: 440px;
}

.progress.step_6 .progress__value{
    stroke-dashoffset: 220px;
}

.progress.step_7 .progress__value{
    stroke-dashoffset: 0;
}

.budget_icon{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #fff;
    cursor: pointer;
}

.icon_step{
    position: absolute;
    height: 30px;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.budget_icon .on, .budget_icon .in{
    opacity: 0;
}

.budget_icon.active .in{
    opacity: 1;
}

.budget_icon.done .on{
    opacity: 1;
}

.budget_icon_1{
    top: 0;
    left: 50%;
    margin-left: -25px;
    margin-top: -20px;
}

.budget_icon_2{
    top: 19%;
    left: 88%;
    margin-top: -25px;
    margin-left: -25px;
}

.budget_icon_3{
    top: 60%;
    left: 98%;
    margin-top: -25px;
    margin-left: -25px;
}

.budget_icon_4{
    top: 94%;
    left: 72%;
    margin-top: -25px;
    margin-left: -25px;
}

.budget_icon_5{
    top: 94%;
    left: 28%;
    margin-top: -25px;
    margin-left: -25px;
}

.budget_icon_6{
    top: 60%;
    left: 2%;
    margin-top: -25px;
    margin-left: -25px;
}

.budget_icon_7{
    top: 19%;
    left: 12%;
    margin-top: -25px;
    margin-left: -25px;
}

.form_step{
    opacity: 0;
    display: none;
    -webkit-transition: visibility 0s, opacity 0.4s;
    -moz-transition: visibility 0s, opacity 0.4s;
    -ms-transition: visibility 0s, opacity 0.4s;
    -o-transition: visibility 0s, opacity 0.4s;
    transition: visibility 0s, opacity 0.4s;
}

.form_step.active{
    opacity: 1;
    display: block;
}

.form .question{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 25%;
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 35px;
    line-height: 35px;
}

.form .question p{
    position: absolute;
    bottom: 0;
}

.form .question p:first-letter{
    color: #d55555;
}

.form .answer{
    position: absolute;
    top: 40%;
    left: 10%;
    width: 80%;
    height: 50%;
    text-align: center;
}

.answer .research{
    position: relative;
    width: 70%;
    height: 20px;
    border: 3px solid #505050;
    border-radius: 60px;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 20px;
    color: #505050;
    font-variant: small-caps;
    background: url('../img/search_icon.png') transparent right center no-repeat;
    background-size: 25px;
    background-origin: content-box;
}

.answer .research_result{
    position: relative;
    width: 70%;
    height: auto;
    left: 15%;
    background-color: #e6e6e6;
    text-align: center;
    cursor: pointer;
}

.answer .research_result p{
    font-size: 15px;
    font-weight: lighter;
    color: #505050;
    padding: 10px;
    border-bottom: 1px solid #505050;
}

.answer .research_result p:last-child{
    border-bottom: none;
}

.answer .month{
    position: relative;
    width: 70%;
    border: 3px solid #505050;
    border-radius: 60px;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 20px;
    color: #505050;
    font-variant: small-caps;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../img/next_btn_black_90deg.png') transparent right center no-repeat;
    background-size: 15px;
    background-origin: content-box;
}

.answer .number_months{
    position: relative;
    width: 80px;
    border: 0;
    font-size: 50px;
    line-height: 50px;
    color: #505050;
    border-bottom: 5px solid #d55555;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.answer .number_months_label{
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.next.next_number_months{
    display: none;
}

.answer .logement{
    width: 100px;
    height: 100px;
    background-color: #e6e6e6;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.answer .logement img{
    width: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
}

.answer .logement div{
    display: flex;
    align-items: center;
    justify-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.answer .logement p{
    position: absolute;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: #505050;
    line-height: 15px;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.answer .number_euros{
    width: 150px;
}

.form .next{
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 25px;
    text-align: center;
    cursor: pointer;
}

.form .next p{
    text-transform: uppercase;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

.form .next p:first-letter{
    color: #d55555;
}

.form .next_btn{
    width: 25px;
    display: inline-block;
    vertical-align: middle;
}

.form_step .result{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: -1;
}

.form_step .result p{
    position: relative;
    top: 50%;
    margin-top: -30px;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
}

.form_step .result p:first-letter{
    color: #d55555;
}

/* Phone */
@media only screen and (max-width: 767px) {
    /*
     * Header
     */
    header .bg{
        height: 150px;
        margin-left: -600px;
    }

    header .text_bg{
        font-size: 35px;
        line-height: 35px;
        top: 75px;
        margin-top: -17px;
    }

    /*
     * Progress
     */
    .progress{
        height: 250px;
        width: 250px;
        margin: 20px 0 35px -125px;
    }

    .progress__value {
        stroke-dasharray: 767px;
        stroke-dashoffset: 767px;
    }

    .progress.step_1 .progress__value{
        stroke-dashoffset: 657px;
    }

    .progress.step_2 .progress__value{
        stroke-dashoffset: 547px;
    }

    .progress.step_3 .progress__value{
        stroke-dashoffset: 438px;
    }

    .progress.step_4 .progress__value{
        stroke-dashoffset: 329px;
    }

    .progress.step_5 .progress__value{
        stroke-dashoffset: 219px;
    }

    .progress.step_6 .progress__value{
        stroke-dashoffset: 110px;
    }

    .progress.step_7 .progress__value{
        stroke-dashoffset: 0;
    }

    .budget_icon{
        height: 25px;
        width: 25px;
    }

    .icon_step{
        height: 15px;
        margin-top: -7.5px;
        margin-left: -7.5px;
    }

    .budget_icon_1{
        margin-left: -12.5px;
        margin-top: -10px;
    }

    .budget_icon_2{
        margin-top: -12.5px;
        margin-left: -12.5px;
    }

    .budget_icon_3{
        margin-top: -12.5px;
        margin-left: -12.5px;
    }

    .budget_icon_4{
        margin-top: -12.5px;
        margin-left: -12.5px;
    }

    .budget_icon_5{
        margin-top: -12.5px;
        margin-left: -12.5px;
    }

    .budget_icon_6{
        margin-top: -12.5px;
        margin-left: -12.5px;
    }

    .budget_icon_7{
        margin-top: -12.5px;
        margin-left: -12.5px;
    }

    .form .question{
        font-size: 15px;
        line-height: 15px;
    }

    .answer .research{
        height: 10px;
        border: 2px solid #505050;
        border-radius: 30px;
        padding: 5px 10px;
        font-size: 10px;
        line-height: 10px;
        background-size: 12.5px;
    }

    .answer .research_result p{
        font-size: 8px;
        padding: 5px;
    }

    .answer .month{
        border: 2px solid #505050;
        border-radius: 30px;
        padding: 5px 10px;
        font-size: 10px;
        line-height: 10px;
        background-size: 7.5px;
    }

    .answer .number_months{
        width: 40px;
        font-size: 25px;
        line-height: 25px;
        border-bottom: 3px solid #d55555;
    }

    .answer .number_months_label{
        font-size: 12.5px;
        margin-bottom: 7.5px;
    }

    .answer .logement{
        width: 50px;
        height: 50px;
        border-radius: 5px;
        margin: 2.5px;
    }

    .answer .logement p{
        font-size: 7.5px;
        line-height: 7.5px;
    }

    .answer .number_euros{
        width: 75px;
    }

    .form .next{
        height: 12.5px;
    }

    .form .next p{
        font-size: 12.5px;
        line-height: 12.5px;
    }

    .form .next_btn{
        width: 12.5px;
    }

    .form_step .result p{
        margin-top: -15px;
        font-size: 30px;
        line-height: 30px;
    }
}