.titreFAQ_1{
    margin-top: 90px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: left;
}

.titreFAQ{
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: left;
}

.titreFAQ::first-letter {
    color: #DC143C;
}

.titreFAQ_1::first-letter {
    color: #DC143C;
}

.contentFAQ{
    margin-left: 302px;
    padding-left: 5px;
    margin-right: 300px;
    margin-bottom: 20px;
    text-align: justify;
    border-left: 2px solid lightgrey;
    border-spacing:5px;
}

.paragraph_line{
    margin-left: 200px;
}

header .bg_FAQ{
    position: absolute;
    left: 50%;
    margin-left: -1000px;
    min-width: 100%;
}

header .man_bg{
    position: absolute;
    height: 310px;
    top: 40px;
    left: 37%;
}
header .bg_wall_FAQ{
    position: absolute;
    height: 350px;
    top:0px;
    left:0px;
    z-index: 0;
}